<h1><%= @track.name %></h1>

<div id="track-show" class="cf">
  <div class="left">
    <div id="video-container">
      <div id="video">
        <div id="ytplayer-container"></div>        
      </div>
      <a href="#" onclick="Lyrics.play(); this.blur(); return false;">PLAY</a>
    </div>
  </div>
  <div class="right">
    <p id="lyrics">
      <% if @track.lrc.blank? -%>
        <p>Lrc not created yet. <%= link_to "Do it now", edit_playlist_track_path(@playlist, @track) %></p>
      <% end -%>
    </p>
  </div>  
</div>


<script type="text/javascript" charset="utf-8">
  App.VideoSearch.init();
  var Lyrics = {
    currentLineIndex: -1,
    
    lrc: JSON.parse("<%= escape_javascript(@track.lrc.to_s.html_safe) %>"),
    
    play: function() {
      App.VideoSearch.play();
      this.interval = window.setInterval(Lyrics.timer.bind(Lyrics), 200);
    },
    
    timer: function() {
      var player_time = App.VideoSearch.getCurrentTime();
      for (var i = 0; i < this.lrc.length; i++) {
        if (i > this.currentLineIndex) {
          var lyrics = this.lrc[i];
          if (player_time > lyrics.time && lyrics.time != 0) {
            if (this.currentLineIndex != i) {
              this.currentLineIndex = i;
              $("#lyrics").text(lyrics.text);
            }
            break;
          }
        }        
      }
    }
  };
  
  <% if !@track.youtube_id.blank? && !@track.lrc.blank? -%>
    App.VideoSearch.addEventListener("playerReady", function() {
      App.VideoSearch.showVideo('<%= @track.youtube_id %>');
    });    
  <% end -%>
</script>
